VITE_API_BASE_URL=http://127.0.0.1:8000
VITE_CHARGER_URL=https://charger.philfan.cn/
VITE_CHARGER_EMBED_MODE=false
VITE_GEOSERVER_URL=http://127.0.0.1:8080/geoserver
VITE_GEOSERVER_WORKSPACE=webgis
VITE_GEOSERVER_LAYER=campus_pois
VITE_USE_GEOSERVER=true
VITE_CESIUM_ION_TOKEN=

